* {
    box-sizing: border-box;
    font-family: Roboto, Arial;
}

body{
    background: AliceBlue
                url('') 
                center / cover
                no-repeat
                fixed;
 }
/*header styling*/
header {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid silver;
    padding: 0;
    margin: 0;
    
}

#logo{
    width: 10%;
    height: auto;
}

#menu li{
    display: inline;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #fafafa;
}

a:hover {
    text-decoration: underline;
    color: #a1beed;
}

#mission-statement{
    background: DarkCyan
                url('')
    width: 100%;
    justify-self: center;
    align-self: flex-start;
    color: #fafafa;
    text-align: center;
    background: 
}
#mission-statement h1{
    font-size: 300%;
}

/*body styling*/
#main-content{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#main-content div{
    width: 33%;
    border: 2px solid black;
    text-align: center;
}

.text-chunk{
    font-size: 120%;
}

.gene-quote{
    text-transform: capitalize;
    font-style: italic;
}

.text-chunk h3{
    text-decoration: underline;
}

.hero-image{
    height: 500px;
    
}

footer {
    display: flex;
    background-color: yellow;
    flex-flow: row wrap;
    justify-content: center;
}

footer div{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    margin: 1%;
}

#social-links i{
    font-size: 200%;
    color: silver;
}

#copyright{
    align-self: flex-end;
    justify-self: flex-end;
}