* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
  font-size: calc(60% + 0.8vmin);
}

body {
    background-color: #B5B8A3;
    font-family: 'Lato', sans-serif;
    width: 100%;
}

/*header styling*/
header {
    background-color: #C6B89E;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 100%;
    flex-wrap: wrap;
    border-bottom: 2px solid black;
}

#logo {
    width: 10%;
    height: auto;
    opacity: 0.7;
    padding: 1%;
}

#menu li {
    padding: 5px;
    display: inline-block;
    list-style: none;
}

#menu a{
    font-size: 1.6rem;
    text-decoration: none;
    color: #FAFAFA;
}

#menu a:hover {
    text-decoration: underline;
    color: #FCB97D;
}

.mission-statement {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 800px;
    color: #fafafa;
    text-align: center;
}

#mission-statement-index {
    background: #AABA9E
                url("https://images.squarespace-cdn.com/content/v1/5d239a8e1176930001df93fe/1627055485060-EV0W12G9SO42SI71EM5Y/art-handler-unconventional-assistance-111.jpeg")
                center center/100% auto
                no-repeat
                fixed;
}

.container h1 {
    font-size: 300%;
}

.container h2 {
    font-size: 200%;
}

.container {
    align-self: center;
    justify-self: center;
    width: 66%;
    border-radius: 20px;
    height: auto;
    background-color: rgba(170, 186, 158, 0.7);
}

.button {
    font-size: 1.2rem;
    padding: 0.2%;
    margin: 2%;
    background-color: #387D7A;
    border-radius: 5px;
}

.button:hover {
    background-color: #fafafa;
    color: #387D7A;
}

.button a {
    color: #fafafa;
}

.button a:hover {
    text-decoration: none;
    color: #387D7A;
}

/*body styling index*/
#main-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: flex-start;
    font-size: 1.2rem;
}

#main-content section {
    width: 33%;
    text-align: center;
    padding: 1%;
}

#main-content section img{
    width:100%;
}

.text-chunk {
    font-size: 120%;
    color: white;
}

#text-chunk-left {
    float: left;
}

.gene-quote {
    text-transform: capitalize;
    font-style: italic;
    color: black;
}

.text-chunk h3 {
    text-decoration: underline;
}


/*body styling meet-the-team*/
#mission-statement-team {
    background: #AABA9E
                url("https://images.pexels.com/photos/3280130/pexels-photo-3280130.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
                center center/100% auto
                no-repeat
                fixed;
}

#team {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.pairs {
    width: 25%;
    padding: 2%;
    font-size: 1.2rem;
    font-family: Helvetica;
}

.pairs img {
    width: 100%;
    height: 75%;
    object-fit: cover;
}

/*body sytling services.html*/
#mission-statement-services {
    background: #AABA9E
                url("https://images.pexels.com/photos/4792495/pexels-photo-4792495.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
                center center/100% auto
                no-repeat
                fixed;
}

.services-grid-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2%;
    text-align: center;
}
.services-grid-container img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#services h3{
    justify-self: flex-end;
    text-decoration: underline;
    font-size: 1.2rem;
}

.services-grid-1{
    border: 1px solid red;
}

.services-grid-2{
    border: 1px solid red;
}

.services-grid-3{
    border: 1px solid red;
}

.services-grid-4{
    border: 1px solid red;
}

/*footer styling*/
footer {
    display: flex;
    background-color: #C6B89E;
    flex-flow: row wrap;
    justify-content: center;
    height: 200px;
    border-top: 2px solid black;
}

footer div {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    margin: 1%;
}

#social-links i {
    font-size: 200%;
    color: #FCB97D;
}

#social-links i:hover {
    color: #FAFAFA;
}

#copyright {
    align-self: flex-end;
}

/*pricing form styling*/
.pricing-form-container{
    width: 100%;
    margin: 0;
    padding: 20px;
    background: #AABA9E
                url("https://images.pexels.com/photos/4792495/pexels-photo-4792495.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
                center center/100% auto
                no-repeat
                fixed;
}

.form-heading{
    text-decoration: underline;
}

.pricing-form-container h2{
    text-decoration: underline;
}

form{
    background-color: rgba(170, 186, 158, 0.6);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: column wrap;
    width: 66%;
    margin: 20px 50px 20px;
    padding: 20px;
    border-radius: 20px;
}

.required-services{
    display: block;
}

textarea {
    width: 66%;
}

.text-input{
    width: 33%;
}

button{
    justify-self: center;
    width: 100px;
